<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title | default: site.title }}</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="shortcut icon" href="/n8marketing-2026/favicons_blu_n8-marketing.ico">
<meta property="og:image" content="https://nicodavn8.github.io/n8marketing-2026/assets/images/N8%20Marketing_valle%20d%20aosta.png">
<meta property="og:title" content="N8 Marketing - Valle d'Aosta">
<meta property="og:description" content="Marketing Strategico & AI per il tuo business">
